<div class="mb-2">
  <a href="/diners/new" class="btn btn-outline-success">加入一個新的餐廳</a>
</div>
<div class="mb-2">
  <a href="/diners/line" class="btn btn-outline-success">Line訊息(測試random用)</a>
</div>

<table class="table mb-5">
  <thead class="table-success">
    <tr>
      <th scope="col">類別</th>
      <th scope="col">名稱</th>
      <th scope="col">Description</th>
      <th scope="col">地址</th>
      <th scope="col">電話</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody class="col-md-12 m-auto">
    {{#each diners}}
    <tr>
      <td class="tcat">
        <h5>{{{this.category}}}</h5>
      </td>
      <td class="tname">
        <h5>{{{this.name}}}</h5>
      </td>
      <td class="tdes">
        <p>{{{this.description}}}</p>
      </td>
      <td class="tadd">
        <p>address</p>
      </td>
      <td <td class="tph">
        <p>{{{this.phone}}}</p>
      </td>
      <td class="d-flex justify-content-end p-0">
        <a href="/diners/{{{this._id}}}/edit" class="btn btn-success m-1 p-1 ">修改</a>
        <form action="/diners/{{{this._id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-danger m-1 p-1">刪除</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>

</table>