<div class="container my-4">
  <h2 class="mb-1 ">
    <ul>
      <li>{{diner.category}}</li>
      <li>{{diner.name}}</li>
      <li>{{diner.phone}}</li>
      <li>{{diner.rating}}</li>
      <li>{{diner.description}}</li>
    </ul>
    <a href="/" class="btn btn-secondary">Back</a>
</div>